<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <title>@ViewBag.Title - Admin Cpanel</title>
    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="header">
        @if (User.Identity.IsAuthenticated)
        {
           <h3 style="float: left">Xin chào, @User.Identity.Name! <a href="@Url.Action("Logout", "Home")">Thoát</a></h3>
           <h3 style="float: right"><a href="@Url.Action("Index", "Manage")">Bảng điều khiển</a></h3>
        }
    </header>
    <div id="content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/adminjs")
    @Scripts.Render("~/bundles/bootstrap")
    <footer class="copyright" style="text-align: center;">
        <b style="color: white">&#169 Copyright DoAnNhanh</b>
    </footer>
</body>
</html>
